# Apriori


The Apriori algorithm is used for mining frequent itemsets and devising association rules from a transactional database. The parameters “support” and “confidence” are used. Support refers to items’ frequency of occurrence; confidence is a conditional probability.

A key concept in Apriori algorithm is the anti-monotonicity of the support measure. It assumes that

1. All subsets of a frequent itemset must be frequent
2. Similarly, for any infrequent itemset, all its supersets must be infrequent too

###  Algorithm
The following are the main steps of the algorithm:

1. Calculate the support of item sets (of size k = 1) in the transactional database (note that support is the frequency of 
   occurrence of an itemset). This is called generating the candidate set.
2. Prune the candidate set by eliminating items with a support less than the given threshold.
3. Join the frequent itemsets to form sets of size k + 1, and repeat the above sets until no more itemsets can be formed. This 
   will happen when the set(s) formed have a support less than​ the given support.

### Libraries useful in Apriori and FP-growth are listed below

To load dataset:    import pandas as pd
Preprocessing:      from sklearn import preprocessing
apriori:            from mlxtend.frequent_patterns import apriori
fp-growth:          from mlxtend.frequent_patterns import fpgrowth
association rules:  from mlxtend.frequent_patterns import association_rules

### Install library for apriori algorithm using:
!pip install mlxtend

### Load the "zoo" data

In [20]:
#load the dataset
import pandas as pd
from sklearn import preprocessing
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules
df = pd.read_csv("Zoo Dataset/zoo.data",header=None)	
df.columns=['animal_name','hair','feathers','eggs','milk','airborne','aquatic','predator','toothed','backbone','breathes','venomous','fins','legs','tail','domestic','catsize','type']	
df.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

### Q1. Perform pre-processing (if required)

In [21]:
# All the atrributes will be transformed using one hot encoding

#dropping first column - name
df=df.drop(['animal_name'],axis=1)
#one hot encoding column legs
df = pd.concat([df,pd.get_dummies(df['legs'], prefix='legs')],axis=1)
df.drop(['legs'],axis=1, inplace=True)
#replacing class type and one hot encoding it
df = pd.concat([df,pd.get_dummies(df['type'], prefix='type')],axis=1)
df.drop(['type'],axis=1, inplace=True)
df

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,...,legs_5,legs_6,legs_8,type_1,type_2,type_3,type_4,type_5,type_6,type_7
0,1,0,0,1,0,0,1,1,1,1,...,0,0,0,1,0,0,0,0,0,0
1,1,0,0,1,0,0,0,1,1,1,...,0,0,0,1,0,0,0,0,0,0
2,0,0,1,0,0,1,1,1,1,0,...,0,0,0,0,0,0,1,0,0,0
3,1,0,0,1,0,0,1,1,1,1,...,0,0,0,1,0,0,0,0,0,0
4,1,0,0,1,0,0,1,1,1,1,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1,0,0,1,0,0,0,1,1,1,...,0,0,0,1,0,0,0,0,0,0
97,1,0,1,0,1,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
98,1,0,0,1,0,0,1,1,1,1,...,0,0,0,1,0,0,0,0,0,0
99,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
100,0,1,1,0,1,0,0,0,1,1,...,0,0,0,0,1,0,0,0,0,0

### Q2. Apply apriori on zoo dataset

In [5]:
#apriori with min support 0.5 
ap = apriori(df, min_support=0.5,use_colnames=True)
ap

     support                    itemsets
0   0.584158                      (eggs)
1   0.554455                  (predator)
2   0.603960                   (toothed)
3   0.821782                  (backbone)
4   0.792079                  (breathes)
5   0.742574                      (tail)
6   0.603960         (backbone, toothed)
7   0.514851             (tail, toothed)
8   0.683168        (backbone, breathes)
9   0.732673            (backbone, tail)
10  0.603960            (tail, breathes)
11  0.514851   (backbone, tail, toothed)
12  0.594059  (backbone, tail, breathes)

### Q3.Find association rules generated by apriori

In [25]:
# use mlxtend library
ar=association_rules(ap,metric='confidence',support_only=False,min_threshold=1)
ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(toothed),(backbone),0.603960,0.821782,0.603960,1.0,1.216867,0.107637,inf
1,"(tail, toothed)",(backbone),0.514851,0.821782,0.514851,1.0,1.216867,0.091756,inf

# FP-Tree

FP-growth is an improved version of the Apriori Algorithm used for Association Rule Mining. It is an analytical process that finds frequent patterns from data sets. For example, grocery store transaction data might have a frequent pattern that people usually buy chips and beer together. The Apriori Algorithm produces frequent patterns by generating itemsets and discovering the most frequent itemset over a threshold “minimal support count”. It greatly reduces the size of the itemset in the database by one simple principle:
If an itemset is frequent, then all of its subsets must also be frequent.

Limitation of Apriori Algorithm is that it requires multiple scans of the database to check the support count of each item and itemsets. When the database is huge, this will cost a significant amount of disk I/O and computing power. 

On the other hand, the FP-Growth algorithm scans the database only twice and uses a tree structure to store all the information. The root represents null, each node represents an item, while the association of the nodes is the itemsets with the order maintained while forming the tree. The FP-tree is concise and is used to directly generate large itemsets. Once an FP-tree has been constructed, it uses a recursive divide-and-conquer approach to mine the frequent itemsets.

### FP-tree Pseudocode and Explanation

Step 1: Deduce the ordered frequent items. For items with the same frequency, the order is given by the alphabetical order.
Step 2: Construct the FP-tree from the above data
Step 3: From the FP-tree above, construct the FP-conditional tree for each item (or itemset).
Step 4: Determine the frequent patterns.

<img src="images/img1.png"> <img src="images/2.gif">
<img src="images/3.gif">

In [15]:
# Load basket dataset and display first five rows.
df_b = pd.read_csv("Basket Dataset/BASKETS1n")
df_b.head()

,cardid,value,pmethod,sex,homeown,income,age,fruitveg,freshmeat,dairy,cannedveg,cannedmeat,frozenmeal,beer,wine,softdrink,fish,confectionery
0,39808,42.7123,CHEQUE,M,NO,27000,46,F,T,T,F,F,F,F,F,F,F,T
1,67362,25.3567,CASH,F,NO,30000,28,F,T,F,F,F,F,F,F,F,F,T
2,10872,20.6176,CASH,M,NO,13200,36,F,F,F,T,F,T,T,F,F,T,F
3,26748,23.6883,CARD,F,NO,12200,26,F,F,T,F,F,F,F,T,F,F,F
4,91609,18.8133,CARD,M,YES,11000,24,F,F,F,F,F,F,F,F,F,F,F

### Perform pre-processing (if required)

In [16]:
#selecting only products columns and replacing boolean values
df_prod = df_b[['fruitveg','freshmeat','dairy','cannedveg','cannedmeat','frozenmeal','beer','wine','softdrink','fish','confectionery']].copy()
df_prod=(df_prod=='T').astype(bool)
df_prod

,fruitveg,freshmeat,dairy,cannedveg,cannedmeat,frozenmeal,beer,wine,softdrink,fish,confectionery
0,False,True,True,False,False,False,False,False,False,False,True
1,False,True,False,False,False,False,False,False,False,False,True
2,False,False,False,True,False,True,True,False,False,True,False
3,False,False,True,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,True,False,False,False,False,False,False,False
996,False,False,False,True,False,False,False,False,False,True,False
997,False,True,False,False,False,False,False,False,False,False,False
998,True,False,False,False,False,False,False,True,False,False,True
999,False,False,True,False,False,False,False,False,True,False,True

### Q4. Apply fpgrowth using mlxtend

In [17]:
#fpgrowth with min support 0.1
fp=fpgrowth(df_prod, min_support=0.1,use_colnames=True)
fp

    support                       itemsets
0     0.276                (confectionery)
1     0.183                    (freshmeat)
2     0.177                        (dairy)
3     0.303                    (cannedveg)
4     0.302                   (frozenmeal)
5     0.293                         (beer)
6     0.292                         (fish)
7     0.287                         (wine)
8     0.299                     (fruitveg)
9     0.184                    (softdrink)
10    0.204                   (cannedmeat)
11    0.144          (wine, confectionery)
12    0.173        (frozenmeal, cannedveg)
13    0.170             (frozenmeal, beer)
14    0.167              (beer, cannedveg)
15    0.146  (frozenmeal, cannedveg, beer)
16    0.145               (fruitveg, fish)

### Q5. Find the frequent association rules

In [18]:
# associaion rules
ar=association_rules(fp,metric='confidence',support_only=False,min_threshold=0.1)
ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(wine),(confectionery),0.287,0.276,0.144,0.501742,1.817906,0.064788,1.453063
1,(confectionery),(wine),0.276,0.287,0.144,0.521739,1.817906,0.064788,1.490818
2,(frozenmeal),(cannedveg),0.302,0.303,0.173,0.572848,1.890586,0.081494,1.631736
3,(cannedveg),(frozenmeal),0.303,0.302,0.173,0.570957,1.890586,0.081494,1.626877
4,(frozenmeal),(beer),0.302,0.293,0.170,0.562914,1.921208,0.081514,1.617530
5,(beer),(frozenmeal),0.293,0.302,0.170,0.580205,1.921208,0.081514,1.662715
6,(beer),(cannedveg),0.293,0.303,0.167,0.569966,1.881075,0.078221,1.620802
7,(cannedveg),(beer),0.303,0.293,0.167,0.551155,1.881075,0.078221,1.575154
8,"(frozenmeal, cannedveg)",(beer),0.173,0.293,0.146,0.843931,2.880309,0.095311,4.530037
9,"(frozenmeal, beer)",(cannedveg),0.170,0.303,0.146,0.858824,2.834401,0.094490,4.937083
10,"(beer, cannedveg)",(frozenmeal),0.167,0.302,0.146,0.874251,2.894873,0.095566,5.550762
11,(frozenmeal),"(beer, cannedveg)",0.302,0.167,0.146,0.483444,2.894873,0.095566,1.612603
12,(cannedveg),"(frozenmeal, beer)",0.303,0.170,0.146,0.481848,2.834401,0.094490,1.601847
13,(beer),"(frozenmeal, cannedveg)",0.293,0.173,0.146,0.498294,2.880309,0.095311,1.648374
14,(fruitveg),(fish),0.299,0.292,0.145,0.484950,1.660787,0.057692,1.374623
15,(fish),(fruitveg),0.292,0.299,0.145,0.496575,1.660787,0.057692,1.392463

## Maximal and Closed Itemsets
An itemset is maximal frequent if none of its immediate supersets is frequent. 
An itemset is closed if none of its immediate supersets has the same support as the itemset.

<img src="images/4.png">
<img src="images/5.png">

### Q6. Find the maximal frequent itemsets

In [34]:
# use for loop 
su = fp.support.unique() #all unique support count

#Dictionay storing itemset with same support count key
fredic = {}
for i in range(len(su)):
    inset = list(fp.loc[fp.support ==su[i]]['itemsets'])
    fredic[su[i]] = inset

#Dictionay storing itemset with  support count <= key
fredic2 = {}
for i in range(len(su)):
    inset2 = list(fp.loc[fp.support<=su[i]]['itemsets'])
    fredic2[su[i]] = inset2

ml=[]
for index, row in fp.iterrows():
    isclose = True
    cli = row['itemsets']
    cls = row['support']
    checkset = fredic2[cls]
    for i in checkset:
        if (cli!=i):
            if(frozenset.issubset(cli,i)):
                isclose = False
                break
    
    if(isclose):
        ml.append((row['itemsets'],row['support']))

print('Maximal itemsets : ', ml)

Maximal itemsets :  [(frozenset({'freshmeat'}), 0.183), (frozenset({'dairy'}), 0.177), (frozenset({'softdrink'}), 0.184), (frozenset({'cannedmeat'}), 0.204), (frozenset({'wine', 'confectionery'}), 0.144), (frozenset({'frozenmeal', 'cannedveg', 'beer'}), 0.146), (frozenset({'fruitveg', 'fish'}), 0.145)]

In [26]:
# verify using inbuilt library
from mlxtend.frequent_patterns import fpmax
maximal = fpmax(df_prod, min_support=0.1,use_colnames=True)
maximal

   support                       itemsets
0    0.177                        (dairy)
1    0.183                    (freshmeat)
2    0.184                    (softdrink)
3    0.204                   (cannedmeat)
4    0.144          (wine, confectionery)
5    0.145               (fruitveg, fish)
6    0.146  (frozenmeal, cannedveg, beer)

### Q7. Find the closed frequent itemsets

In [36]:
# write your code here
cl = []
for index, row in fp.iterrows():
    isclose = True
    cli = row['itemsets']
    cls = row['support']
    checkset = fredic[cls]
    for i in checkset:
        if (cli!=i):
            if(frozenset.issubset(cli,i)):
                isclose = False
                break
    
    if(isclose):
        cl.append((row['itemsets'],row['support']))

print('Closed itemsets : ', cl)

Closed itemsets :  [(frozenset({'confectionery'}), 0.276), (frozenset({'freshmeat'}), 0.183), (frozenset({'dairy'}), 0.177), (frozenset({'cannedveg'}), 0.303), (frozenset({'frozenmeal'}), 0.302), (frozenset({'beer'}), 0.293), (frozenset({'fish'}), 0.292), (frozenset({'wine'}), 0.287), (frozenset({'fruitveg'}), 0.299), (frozenset({'softdrink'}), 0.184), (frozenset({'cannedmeat'}), 0.204), (frozenset({'wine', 'confectionery'}), 0.144), (frozenset({'frozenmeal', 'cannedveg'}), 0.173), (frozenset({'frozenmeal', 'beer'}), 0.17), (frozenset({'beer', 'cannedveg'}), 0.167), (frozenset({'frozenmeal', 'cannedveg', 'beer'}), 0.146), (frozenset({'fruitveg', 'fish'}), 0.145)]

### Q8. Find frequent itemsets using Fp-growth tree of zoo dataset

In [22]:
#fpgrowth with min support 0.5
fp_zoo=fpgrowth(df, min_support=0.5,use_colnames=True)
fp_zoo

     support                    itemsets
0   0.821782                  (backbone)
1   0.792079                  (breathes)
2   0.603960                   (toothed)
3   0.554455                  (predator)
4   0.742574                      (tail)
5   0.584158                      (eggs)
6   0.683168        (backbone, breathes)
7   0.603960         (backbone, toothed)
8   0.514851             (tail, toothed)
9   0.514851   (backbone, tail, toothed)
10  0.732673            (backbone, tail)
11  0.603960            (tail, breathes)
12  0.594059  (backbone, tail, breathes)

### Q9. Find closed and maximal frequent itemsets from zoo dataset

In [37]:
# code here 
# find the number of maximal and closed itemsets
maximal_zoo=fpmax(df, min_support=0.5,use_colnames=True)
maximal_zoo

    support                    itemsets
0  0.554455                  (predator)
1  0.584158                      (eggs)
2  0.514851   (backbone, tail, toothed)
3  0.594059  (backbone, tail, breathes)

In [38]:
# use for loop 
su = fp_zoo.support.unique() #all unique support count

#Dictionay storing itemset with same support count key
fredic = {}
for i in range(len(su)):
    inset = list(fp_zoo.loc[fp_zoo.support ==su[i]]['itemsets'])
    fredic[su[i]] = inset

#Dictionay storing itemset with  support count <= key
fredic2 = {}
for i in range(len(su)):
    inset2 = list(fp_zoo.loc[fp_zoo.support<=su[i]]['itemsets'])
    fredic2[su[i]] = inset2

cl = []
for index, row in fp_zoo.iterrows():
    isclose = True
    cli = row['itemsets']
    cls = row['support']
    checkset = fredic[cls]
    for i in checkset:
        if (cli!=i):
            if(frozenset.issubset(cli,i)):
                isclose = False
                break
    
    if(isclose):
        cl.append((row['itemsets'],row['support']))

print('Closed itemsets : ', cl)

Closed itemsets :  [(frozenset({'backbone'}), 0.8217821782178217), (frozenset({'breathes'}), 0.7920792079207921), (frozenset({'predator'}), 0.5544554455445545), (frozenset({'tail'}), 0.7425742574257426), (frozenset({'eggs'}), 0.5841584158415841), (frozenset({'backbone', 'breathes'}), 0.6831683168316832), (frozenset({'backbone', 'toothed'}), 0.6039603960396039), (frozenset({'backbone', 'tail', 'toothed'}), 0.5148514851485149), (frozenset({'backbone', 'tail'}), 0.7326732673267327), (frozenset({'tail', 'breathes'}), 0.6039603960396039), (frozenset({'backbone', 'tail', 'breathes'}), 0.594059405940594)]