# Introduction to Pandas

Pandas is an open source library providing high-performance, easy-to-use data structures 
and data analysis tools for the Python programming language.

# Installation instructions for pandas:

**(Only for reference purposes. Your systems have pandas installed already)**

For installing Pandas we will be using the anaconda navigator.

Installation instructions for anaconda:

1) For Windows go the following link: 
http://docs.continuum.io/anaconda/install/windows/

2) For Linux go the following link:
http://docs.continuum.io/anaconda/install/linux/

Now run the installer to have access to pandas and the rest of the SciPy stack without
needing to install anything else.

In [ ]:
# conventional way to import pandas
import pandas as pd

## Creating DataFrames and Series

In [ ]:
# create a DataFrame from a dictionary (keys become column names, values become data)
pd.DataFrame({'id':[100, 101, 102], 'color':['red', 'blue', 'red']})

In [ ]:
# optionally specify the order of columns and define the index
df = pd.DataFrame({'id':[100, 101, 102], 'color':['red', 'blue', 'red']}, columns=['id', 'color'], index=['a', 'b', 'c'])
df

Documentation for [**`DataFrame`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html)

In [ ]:
# create a DataFrame from a list of lists (each inner list becomes a row)
pd.DataFrame([[100, 'red'], [101, 'blue'], [102, 'red']], columns=['id', 'color'])

In [ ]:
# create a NumPy array (with shape 4 by 2) and fill it with random numbers between 0 and 1
import numpy as np
arr = np.random.rand(4, 2)
arr

In [ ]:
# create a DataFrame from the NumPy array
pd.DataFrame(arr, columns=['one', 'two'])

In [ ]:
# create a new Series using the Series constructor
s = pd.Series(['round', 'square'], index=['c', 'b'], name='shape')
s

Documentation for [**`Series`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html)

# Reading Tabular Data

In [ ]:
# read a dataset of Chipotle orders directly from a URL and store the results in a DataFrame
orders = pd.read_csv('http://bit.ly/chiporders', sep='\t')

In [ ]:
# examine the first 5 rows
orders.head()

# Selecting a pandas Series from a DataFrame

In [ ]:
# read_csv assumes a comma separator
ufo = pd.read_csv('http://bit.ly/uforeports')

In [ ]:
# examine the first 5 rows
ufo.head()

In [ ]:
# select the first five rows of 'City' Series using bracket notation
ufo['City'].head()

# or equivalently, use dot notation
ufo.City.head()

**Bracket notation** will always work, whereas **dot notation** has limitations:

- Dot notation doesn't work if there are **spaces** in the Series name
- Dot notation doesn't work if the Series has the same name as a **DataFrame method or attribute** (like 'head' or 'shape')
- Dot notation can't be used to define the name of a **new Series**

## Why do some pandas commands end with parentheses (and others don't)?

In [ ]:
# read a dataset of top-rated IMDb movies into a DataFrame
movies = pd.read_csv('http://bit.ly/imdbratings')

**Methods** end with parentheses, while **attributes** don't:

In [ ]:
# example method: show the first 5 rows
movies.head()

In [ ]:
# example method: calculate summary statistics
movies.describe()

In [ ]:
# example attribute: number of rows and columns
movies.shape

In [ ]:
# example attribute: data type of each column
movies.dtypes

# Renaming columns in a DataFrame

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_csv('http://bit.ly/uforeports')

In [ ]:
# examine the column names
ufo.columns

In [ ]:
# rename two of the columns by using the 'rename' method
ufo.rename(columns={'Colors Reported':'Colors_Reported', 'Shape Reported':'Shape_Reported'}, inplace=True)
ufo.columns

# Removing columns from a DataFrame

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_csv('http://bit.ly/uforeports')
ufo.head()

In [ ]:
# remove a single column (axis=1 refers to columns)
ufo.drop('Colors Reported', axis=1, inplace=True)
ufo.head()

Documentation for [**`drop`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

# Filtering rows by column value?

In [ ]:
# read a dataset of top-rated IMDb movies into a DataFrame
movies = pd.read_csv('http://bit.ly/imdbratings')
movies.head()

**Goal:** Filter the DataFrame rows to only show movies with a 'duration' of at least 200 minutes.

In [ ]:
# create a list in which each element refers to a DataFrame row: True if the row satisfies the condition, False otherwise
booleans = []
for length in movies.duration:
    if length >= 200:
        booleans.append(True)
    else:
        booleans.append(False)

In [ ]:
# confirm that the list has the same length as the DataFrame
len(booleans)

In [ ]:
# examine the first five list elements
booleans[0:5]

In [ ]:
# convert the list to a Series
is_long = pd.Series(booleans)
is_long.head()

In [ ]:
# use bracket notation with the boolean Series to tell the DataFrame which rows to display
movies[is_long]

In [ ]:
# simplify the steps above: no need to write a for loop to create 'is_long' since pandas will broadcast the comparison
is_long = movies.duration >= 200
movies[is_long]

# or equivalently, write it in one line (no need to create the 'is_long' object)
movies[movies.duration >= 200]

In [ ]:
# select the 'genre' Series from the filtered DataFrame
movies[movies.duration >= 200].genre

# or equivalently, use the 'loc' method
movies.loc[movies.duration >= 200, 'genre']

Documentation for [**`loc`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html)

Rules for specifying **multiple filter criteria** in pandas:

- use **`&`**
- use **`|`**
- add **parentheses** around each condition to specify evaluation order

Filter the DataFrame of long movies (duration >= 200) to only show movies which also have a 'genre' of 'Drama'

In [ ]:
# CORRECT: use the '&' operator to specify that both conditions are required
movies[(movies.duration >=200) & (movies.genre == 'Drama')]

In [ ]:
# INCORRECT: using the '|' operator would have shown movies that are either long or dramas (or both)
# Filter the original DataFrame to show movies with a 'genre' of 'Crime' or 'Drama' or 'Action'
movies[(movies.duration >=200) | (movies.genre == 'Drama')].head()

In [ ]:
# use the '|' operator to specify that a row can match any of the three criteria
movies[(movies.genre == 'Crime') | (movies.genre == 'Drama') | (movies.genre == 'Action')].head(10)

# or equivalently, use the 'isin' method
movies[movies.genre.isin(['Crime', 'Drama', 'Action'])].head(10)

Documentation for [**`isin`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.isin.html)

Iteration through a DataFrame

In [ ]:
# various methods are available to iterate through a DataFrame
for index, row in ufo.iterrows():
    print(index, row.City, row.State)

Documentation for [**`iterrows`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iterrows.html)

# Exploring a pandas Series

In [ ]:
# read a dataset of top-rated IMDb movies into a DataFrame
movies = pd.read_csv('http://bit.ly/imdbratings')
movies.head()

In [ ]:
# examine the data type of each Series
movies.dtypes

**Exploring a non-numeric Series:**

In [ ]:
# count the non-null values, unique values, and frequency of the most common value
movies.genre.describe()

Documentation for [**`describe`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.describe.html)

In [ ]:
# count how many times each value in the Series occurs
movies.genre.value_counts()

Documentation for [**`value_counts`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)

In [ ]:
# display percentages instead of raw counts
movies.genre.value_counts(normalize=True)

In [ ]:
# 'value_counts' (like many pandas methods) outputs a Series
type(movies.genre.value_counts())

In [ ]:
# thus, you can add another Series method on the end
movies.genre.value_counts().head()

In [ ]:
# display the unique values in the Series
movies.genre.unique()

In [ ]:
# count the number of unique values in the Series
movies.genre.nunique()

Documentation for [**`unique`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.unique.html) and [**`nunique`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.nunique.html)

**Exploring a numeric Series:**

In [ ]:
# calculate various summary statistics
movies.duration.describe()

In [ ]:
# many statistics are implemented as Series methods
movies.duration.mean()

Documentation for [**`mean`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.mean.html)

In [ ]:
# 'value_counts' is primarily useful for categorical data, not numerical data
movies.duration.value_counts().head()

In [ ]:
# allow plots to appear in the notebook
%matplotlib inline

In [ ]:
# histogram of the 'duration' Series (shows the distribution of a numerical variable)
movies.duration.plot(kind='hist')

In [ ]:
# bar plot of the 'value_counts' for the 'genre' Series
movies.genre.value_counts().plot(kind='bar')

# Handling missing values in pandas

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_csv('http://bit.ly/uforeports')
ufo.tail()

**What does "NaN" mean?**

- "NaN" is not a string, rather it's a special value: **`numpy.nan`**.
- It stands for "Not a Number" and indicates a **missing value**.
- **`read_csv`** detects missing values (by default) when reading the file, and replaces them with this special value.

Documentation for [**`read_csv`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)

In [ ]:
# 'isnull' returns a DataFrame of booleans (True if missing, False if not missing)
ufo.isnull().tail()

In [ ]:
# 'nonnull' returns the opposite of 'isnull' (True if not missing, False if missing)
ufo.notnull().tail()

Documentation for [**`isnull`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.isnull.html) and [**`notnull`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.notnull.html)

In [ ]:
# count the number of missing values in each Series
ufo.isnull().sum()

This calculation works because:

1. The **`sum`** method for a DataFrame operates on **`axis=0`** by default (and thus produces column sums).
2. In order to add boolean values, pandas converts **`True`** to **1** and **`False`** to **0**.

**How to handle missing values** depends on the dataset as well as the nature of your analysis. Here are some options:

In [ ]:
# examine the number of rows and columns
ufo.shape

In [ ]:
# if 'any' values are missing in a row, then drop that row
ufo.dropna(how='any').shape

Documentation for [**`dropna`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html)

In [ ]:
# 'inplace' parameter for 'dropna' is False by default, thus rows were only dropped temporarily
ufo.shape

In [ ]:
# if 'all' values are missing in a row, then drop that row (none are dropped in this case)
ufo.dropna(how='all').shape

In [ ]:
# if 'any' values are missing in a row (considering only 'City' and 'Shape Reported'), then drop that row
ufo.dropna(subset=['City', 'Shape Reported'], how='any').shape

In [ ]:
# if 'all' values are missing in a row (considering only 'City' and 'Shape Reported'), then drop that row
ufo.dropna(subset=['City', 'Shape Reported'], how='all').shape

In [ ]:
# fill in missing values with a specified value
ufo['Shape Reported'].fillna(value='VARIOUS', inplace=True)

Documentation for [**`fillna`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.fillna.html)

In [ ]:
# confirm that the missing values were filled in
ufo['Shape Reported'].value_counts().head()

# Selecting rows and columns from a pandas DataFrame

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_csv('http://bit.ly/uforeports')
ufo.head(3)

The [**`loc`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html) method is used to select rows and columns by **label**. You can pass it:

- A single label
- A list of labels
- A slice of labels
- A boolean Series
- A colon (which indicates "all labels")

In [ ]:
# row 0, all columns
ufo.loc[0, :]

In [ ]:
# rows 0 and 1 and 2, all columns
ufo.loc[[0, 1, 2], :]

In [ ]:
# rows 0 through 2 (inclusive), all columns
ufo.loc[0:2, :]

In [ ]:
# accomplish the same thing using double brackets - but using 'loc' is preferred since it's more explicit
ufo[['City', 'State']].head(3)

The [**`iloc`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iloc.html) method is used to select rows and columns by **integer position**. You can pass it:

- A single integer position
- A list of integer positions
- A slice of integer positions
- A colon (which indicates "all integer positions")

In [ ]:
# rows in positions 0 and 1, columns in positions 0 and 3
ufo.iloc[[0, 1], [0, 3]]

In [ ]:
# rows in positions 0 through 2 (exclusive), columns in positions 0 through 4 (exclusive)
ufo.iloc[0:2, 0:4]