# Lab1: Pre-processing

### 1. Read and show the properties of dataset "iris_data_with_missing_values.csv"

In [ ]:
#First import the required liberaries 
import numpy as np
import pandas as pd
df=pd.read_csv("./iris_data_with_missing_values.csv",header=None)
df.describe()

### 2. Print first 20 rows of the dataset

In [ ]:
df.head(20)

### 3. Find the number of zeroes in all the columns

In [ ]:
(df==0).sum()

### 4. Find the number of null values in the dataset

In [ ]:
df.isnull().sum().sum()

### 5. Replace the zeroes with Nan values in selected attribute (say attribute 1 and 3)

In [ ]:
df.iloc[:,0]=df.iloc[:,0].replace(0,np.nan)
df.iloc[:,2]=df.iloc[:,2].replace(0,np.nan)
df

### 6. Find the number of rows having missing values

In [ ]:
(df.isnull().sum(axis=1)>0).sum()

### 7. Find the number of null values in a dataset

In [ ]:
df.isnull().sum().sum()

### 8. Discard the records with missing values

In [ ]:
newdf=df.dropna(how='any')
newdf.describe()

### 9. Find the number of records after discarding null values

In [ ]:
len(newdf.index)

### 10. Replace missing value with the mean and print the output

In [ ]:
df.replace(np.nan,df.mean())

### 11. Replace missing value with the median and print the output

In [ ]:
df.replace(np.nan,df.median())

### 12. Create a dataframe and label the columns

In [ ]:
newdf=pd.DataFrame(columns=['Sepal_length', 'sepal_width', 'petal_length', 'petal width', 'class'])

### 13. Sample the dataset with and without replacement (20%data)

In [ ]:
df.sample(frac=0.2)

### 14. Normalize the dataset using z-score normalization

In [ ]:
znormalized_df=(df-df.mean())/df.std()
znormalized_df[4]=df[4]
znormalized_df

### 15. Find the outliers using z-score normalization

In [ ]:
zz=znormalized_df.drop(4,axis=1)
zzz=(zz>3).sum(axis=1)+(zz<-3).sum(axis=1)
df[zzz>0]
#df[(znormalized_df>3)|(znormalized_df<-3).sum(axis=1)>0]

### 16. Normalize the dataset using min-max normalization

In [ ]:
mnormalized_df=(df-df.min())/(df.max()-df.min())
mnormalized_df[4]=df[4]
mnormalized_df

### 17. Write the code to discritize an attribute into 6 bins (third attribute)

In [ ]:
pd.qcut(df.iloc[:,2], q=6,labels=['b0','b1','b2','b3','b4','b5'])

### 18. Find the correlation coeffiecient

In [ ]:
df.corr()